body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Mis trabajos */



#Mis-trabajos .image-top {
  height: 400px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}